<div class="ghjs">
  <h3>greecehopperJs</h3>

  <p>
    If you’re outside the main greek urban centers, at a Greek town / village /
    island:
  </p>
  <ul>
    <li>I’m available to give js/webdev/angular workshops</li>

    <li>I’m available to come give a talk to your local community</li>

    <li>I can help you set up a community</li>

    <li>I can help you get set up and mentor you</li>
  </ul>

  <p>
    Reach out and let me know!
  </p>

  <li>
    Also availabe for mentoring and helping small businesses in remote places of
    greece
  </li>

  <p>
    <a href="https://twitter.com/greecehopperJs" target="_blank"
      >@greecehopperJs</a
    >
  </p>

  <p>**mail: greecehopper.js - it's a gmail**</p>

  <div>
    <h4>Completed actions:</h4>
    <p>DevStaff, Heraklion, Crete</p>
    <p>Larissa Developers Meetup</p>
  </div>
  <div>
    <h4>Upcoming actions:</h4>
    <p>Chios, Patras, Kavala</p>
  </div>
</div>
