<div class="home">
  <section>
    <p>This is just a place listing my info and what i'm up to.</p>
  </section>
  <section>
    <p>
      I like web, i like code, i like
      <a href="https://angular.io/" target="_blank">angular</a> and i like
      talking about all this. Go to <a [routerLink]="['/talks']">talks</a> to
      see what i'm up to.
    </p>

    <p>
      I am a
      <a
        href="https://developers.google.com/experts/people/katerina-skroumpelou"
        target="_blank"
        >Google Developer Expert for Angular and Web Technologies.</a
      >
    </p>
    <p>
      I am a software engineer at
      <a href="https://www.thisdot.co/" target="_blank">ThisDot</a> ♥️.
    </p>
    <p>
      I am also the founder and I organize (together with a bunch of cool
      people)
      <a href="https://meetup.com/Angular-Athens/" target="_blank"
        >AngularAthens</a
      >, the Angular meetup in Athens, Greece.
    </p>
    <p>
      I am also available for mentoring - in parts of Greece outsite the main
      urban centers. Check out
      <a [routerLink]="['/greecehopperJs']">greecehopperJs</a>.
    </p>
    <p>
      What I also do, I help form the program of VoxxedDays Greece (<a
        href="https://voxxeddays.com/athens"
        target="_blank"
        >Athens</a
      >
      &
      <a href="https://voxxeddays.com/thessaloniki/" target="_blank"
        >Thessaloniki</a
      >).
    </p>
    <p>I also like the word also a lot.</p>
  </section>
  <section>
    <p>
      Make sure to check out my
      <a href="https://github.com/mandarini" target="_blank">github</a>, my
      <a href="https://twitter.com/psybercity" target="_blank">twitter</a> and
      my
      <a href="https://www.linkedin.com/in/katerinaskroumpelou/" target="_blank"
        >linkedin</a
      >
      for more.
    </p>
  </section>
  <section>
    <p>
      I generally go by three aliases on the internetz: mandarini, psybercity,
      pakotinia.
    </p>
  </section>
</div>
