<div class="home">
  <section>
    <p>This is just a place listing my info and what i'm up to.</p>
  </section>
  <section>
    <p>
      I like web, i like code, i like
      <a href="https://angular.io/" target="_blank">angular</a> and i like
      <strong>talking</strong> about all this. Go to
      <a [routerLink]="['/talks']">talks</a> to see what i'm up to. I also
      <a [routerLink]="['/streams']">stream</a> sometimes.
    </p>
  </section>
  <section>
    <h3>techy-worky things</h3>
    <p>
      I am a <strong>senior software engineer</strong> at
      <a href="https://nrwl.io/" target="_blank">Narwhal</a> 🌊, and part of the
      <a href="https://github.com/nrwl/nx">Nx</a> core team. Mostly working on
      the
      <a class="storybook" href="https://storybook.js.org/" target="_blank"
        >Storybook</a
      >&nbsp;
      <a href="https://nx.dev/storybook/overview-react" target="_blank"
        >vertical</a
      >. So, I'm also an <strong>open source conrtibutor</strong> :).
    </p>
    <p>
      I am a
      <a
        href="https://developers.google.com/community/experts/directory/profile/profile-katerina-skroumpelou"
        target="_blank"
        >Google Developer Expert</a
      >
      for
      <a href="https://angular.io/" target="_blank">Angular 🅰️</a>,
      <a href="https://web.dev" target="_blank">Web Technologies 🕸️</a> and the
      <a href="https://cloud.google.com/maps-platform/" target="_blank"
        >Google Maps Platform 🗺️</a
      >
      (check out my cool
      <a href="https://ng-gmap-kat.web.app" target="_blank">Google Maps demo</a
      >).
    </p>
  </section>
  <section>
    <h3>foundy things</h3>
    <p>
      I am the co-founder & I organize (<a
        href="https://www.linkedin.com/in/aristeidisbampakos/"
        target="_blank"
        >together</a
      >&nbsp;<a
        href="https://www.linkedin.com/in/lena-lekkou-98109042/"
        target="_blank"
        >with</a
      >
      a
      <a href="https://www.linkedin.com/in/gsisko/" target="_blank">bunch</a> of
      <a href="https://www.linkedin.com/in/prodromouf/" target="_blank">cool</a
      >&nbsp;<a
        href="https://www.linkedin.com/in/giannis-smirnios-25472577/"
        target="_blank"
        >people</a
      >)
      <a href="https://meetup.com/Angular-Athens/" target="_blank"
        >AngularAthens</a
      >, the Angular meetup in Athens, Greece. Here is the other co-founder of
      Angular Athens,
      <a href="http://stefanos-lignos.com/" target="_blank">Stefanos</a>.
    </p>
    <p>
      In August 2020, a couple of friends (
      <a
        href="https://www.linkedin.com/in/manos-avgerinos-a5a83019/"
        target="_blank"
        >Manos Avgerinos</a
      >
      and
      <a
        href="https://www.linkedin.com/in/alexandros-toulias-a9713414/"
        target="_blank"
        >Alexandros Toulias</a
      >
      ) and I founded <a href="https://getrevapp.com">RevApp</a>, the solution
      for hoteliers to optimize their revenues! So, I'm also an
      <strong>entrepreneur</strong>.
    </p>
  </section>
  <section>
    <h3>mentory things</h3>
    <p>
      I am a
      <a
        target="_blank"
        href="https://www.womentechmakers.com/ambassadors/profiles/629f7b339cb5640c3d6c24f4/katerina_skroumpelou"
        >Women Techmakers Ambassador</a
      >.
    </p>
    <p>
      Every 3rd Wednesday of every month
      <a target="_blank" href="https://twitter.com/ladyleet">Tracy Lee</a> and I
      host the webcast
      <a href="https://www.thisdot.co/women-in-tech" target="_blank"
        >Monthly Mentoring: Women in Tech </a
      >. It's an open
      <strong>mentoring session targeted for women in tech</strong>, were we
      give tips and advice, and chat about our careers with the participants!
    </p>
    <p>
      I'm also a <strong>mentor for women</strong> in the
      <a href="https://womenontop.gr/" target="_blank">Women on Top</a> network
    </p>
    <p>
      I am also available for mentoring - in parts of Greece outsite the main
      urban centers. Check out
      <a [routerLink]="['/greecehopperJs']">greecehopperJs</a>.
    </p>
  </section>
  <section>
    <h3>likes things</h3>
    <p>
      I like <strong>cats</strong>. I like oats, honey, cocoa and almond milk.
    </p>
    <p>
      I like to walk, I like to hike, I like mountains and the
      <strong>sea</strong>.
    </p>
    <p>I also like the word also a lot.</p>
  </section>
  <section>
    <h3>findme things</h3>
    <p>
      Make sure to check out my
      <a href="https://github.com/mandarini" target="_blank">github</a>, my
      <a href="https://twitter.com/psybercity" target="_blank">twitter</a>, my
      <a href="https://www.linkedin.com/in/katerinaskroumpelou/" target="_blank"
        >linkedin</a
      >, my
      <a
        href="https://stackoverflow.com/users/4879632/kantharis"
        target="_blank"
        >stackoverflow</a
      >
      and my
      <a href="https://pakotinia.medium.com/" target="_blank">medium</a>
      for more. (and yet another one of my public profiles
      <a href="https://stackoverflow.com/story/katerina" target="_blank">here</a
      >)
    </p>
    <p>
      I generally go by three aliases on the internetz: mandarini, psybercity,
      pakotinia.
    </p>
  </section>
  <section></section>
</div>
