<header>
  <div>
    <a class="myself" [routerLink]="['/']" routerLinkActive="router-link-active"
      >katerina's place</a
    >
  </div>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/🐈']" routerLinkActive="router-link-active">
          <ng-container *ngIf="width === 'small'">🏠</ng-container>
          <ng-container *ngIf="width === 'large'">
            <div class="wrapper">
              <div class="cube">
                <div>🏠</div>
                <div>/></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </ng-container>
        </a>
      </li>
      <li>
        <a [routerLink]="['/cv']" routerLinkActive="router-link-active">
          <ng-container *ngIf="width === 'small'">cv</ng-container>
          <ng-container *ngIf="width === 'large'">
            <div class="wrapper">
              <div class="cube">
                <div>cv</div>
                <div>/></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div> </ng-container
        ></a>
      </li>
      <li>
        <a [routerLink]="['/talks']" routerLinkActive="router-link-active">
          <ng-container *ngIf="width === 'small'">🗣️</ng-container>
          <ng-container *ngIf="width === 'large'">
            <div class="wrapper">
              <div class="cube">
                <div>talks</div>
                <div>/></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </ng-container>
        </a>
      </li>
      <li>
        <a [routerLink]="['/streams']" routerLinkActive="router-link-active">
          <ng-container *ngIf="width === 'small'">🎥</ng-container>
          <ng-container *ngIf="width === 'large'">
            <div class="wrapper">
              <div class="cube">
                <div>🎥</div>
                <div>/></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </ng-container>
        </a>
      </li>
      <li>
        <a [routerLink]="['/monster']" routerLinkActive="router-link-active">
          <div class="wrapper">
            <div class="cube">
              <div>
                <img
                  class="monster"
                  src="https://i.imgur.com/w9RBk8h.png"
                  alt="Monster Logo"
                />
              </div>
              <div>/></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="moto">
    <em>katerina's little corner of the internet</em>
  </div>
  <ul>
    <li><a href="https://github.com/mandarini" target="_blank">github</a></li>
    <li>
      <a href="https://twitter.com/psybercity" target="_blank">twitter</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/katerinaskroumpelou/" target="_blank"
        >linkedin</a
      >
    </li>
  </ul>
</footer>
