<h1>Starting a stream - kat-nx</h1>
<section>
  <p>
    I've been thinking of starting a stream for quite some time now. I think it
    was when I completed my equipment of a decent camera and decent microphone.
    The time has come. Check out my
    <a href="https://twitter.com/psybercity" target="_blank">twitter</a> and
    <a href="https://www.twitch.tv/pako_tini" target="_blank">twitch</a> for
    announcements and schedule.
  </p>
</section>
<section>
  <h2>Theme</h2>
  <p>
    The theme of my stream is - what else - live coding. But not just live-code
    anything. Live coding on Nx, and more specifically on the
    <a href="https://nx.dev/storybook/overview-react" target="_blank"
      >Nx Storybook plugin</a
    >.
  </p>

  <h3>Nx GitHub-reported issue</h3>
  <p>
    Some sessions may include solving/debugging/live-coding on an issue reported
    on the
    <a href="https://github.com/nrwl/nx/issues" target="_blank"
      >GitHub Nx repository</a
    >. I may or may not give viewers the chance to vote for the issue/bug they
    want me to look at during the streaming session. I will be focusing on
    Nx+Storybook issues/bugs, first and foremost. And if there is no particular
    issue/bug to focus on, there's always some feature request, or a feature I'm
    thinking to implement.
  </p>
  <h3>Walkthrough of a new feature or a how-to guide</h3>
  <p>
    In some cases, a new feature comes up. Or a new way of doing something comes
    up. Or something changed, and users may need some guidance. The stream, that
    day, will be dedicated to, either the walkthrough of this new feature, or
    the how-to guide for doing something. For example how to migrate to a newer
    version, or how to use some other technology with Nx + Storybook.
  </p>
</section>
<section>
  <h2>Logistics</h2>
  <h3>Frequency</h3>
  <p>
    I will target for a frequency of once-a-month, with a highly overoptimistic
    of once every two weeks. So either monthly or biweekly. Some dates may be
    skipped due to holidays, but generally this is the plan, as I'm setting it
    out now.
  </p>
  <h3>Timezone friendliness?</h3>
  <p>
    The stream will be going live at 20:00 my time (Greek time), which is
    10:00am Pacific Time, 13:00 Eastern Time.
  </p>
  <h3>Length</h3>
  <p>
    One hour. It may not be enough to solve a bug/issue, but it will be enough
    for the viewers to get any value out of it.
  </p>
  <h3>Platform</h3>
  <p>
    I will be using
    <a href="https://www.twitch.tv/pako_tini" target="_blank">Twitch</a>. After
    the broadcast, the videos will be available on my
    <a href="https://www.youtube.com/c/KatherineSkroumpelou" target="_blank"
      >YouTube channel</a
    >.
  </p>
  <h3>Communication</h3>
  <p>
    My Nrwl email is always open, but I also have a
    <a [routerLink]="['/discord']">Discord</a> (which I do not check
    frequently - it confuses me - I'm old - but I will be checking during the
    streams).
  </p>
</section>
