a,
a:link,
a:visited {
  color: rgb(125, 102, 187);
  font-weight: 500;
  text-decoration: none;
}
a:hover,
a:active {
  color: rgb(223, 93, 136);
}
section {
  margin: 48px;
}

h1 {
  color: rgb(80, 196, 196);
}

h2 {
  color: rgb(238, 117, 222);
}

h3 {
  color: rgb(29, 114, 251);
}
