.all-talks {
  padding: 24px;
  p {
    .date {
      color: rgb(190, 121, 246);
    }
  }
}

.disclaimers {
  color: lightseagreen;
}

a,
a:link,
a:visited {
  color: gray;
  text-decoration: none;
}
a:hover,
a:active {
  color: palevioletred;
}
a.router-link-active {
  color: palevioletred;
  font-weight: 600;
}

.to-top {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 2;
}
