<div class="all-talks">
  <a id="top"></a>
  <h2>
    If you're looking for my streams, goto
    <a [routerLink]="['/streams']">streams</a> page.
  </h2>
  <h3>Talks</h3>
  <div class="to-top">
    <a href="/talks#top">top &#8682;</a>
  </div>
  <p *ngFor="let talk of all_talks | keyvalue: keyAscOrder; let i = index">
    <a [href]="'/talks#talk' + i">{{ talk.value.name }}</a>
    -
    <span class="date"
      ><em>({{ talk.value.conf_info.date }})</em></span
    >
  </p>
  <div class="disclaimers">
    <p>
      <em
        >There's 11 more things to add here, will add eventually, I promise.</em
      >
    </p>
    <p>
      <em
        >Also, I promise even more, one day I'll make this list pretty, worthy
        of my css skills, really.</em
      >
    </p>
  </div>
  <app-talk
    *ngFor="let talk of all_talks | keyvalue: keyAscOrder; let i = index"
    [id_talk]="i"
    [talk]="talk.value"
    [talk_key]="talk.key"
  ></app-talk>
</div>
