<div class="all-talks">
  <a id="top"></a>
  <h3>Talks / Workshops / Appearances</h3>
  <h5>any activity that's reaching out to the public 💕</h5>
  <div class="to-top">
    <a href="/talks#top">top &#8682;</a>
  </div>
  <p *ngFor="let talk of all_talks; let i = index">
    <span> {{ all_talks.length - i }} - </span>
    <a [href]="'/talks#talk' + i">{{ talk.title }}</a>
    -
    <span class="date"
      ><em>({{ talk.date }})</em></span
    >
  </p>
  <div class="disclaimers">
    <p>
      <em
        >I promise one day I'll make this list pretty, worthy of my css skills,
        really.</em
      >
    </p>
  </div>
  <app-talk
    *ngFor="let talk of all_talks; let i = index"
    [id_talk]="i"
    [talk]="talk"
  ></app-talk>
</div>
